################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DesignPatterns_VietNam/src/.vs
/DesignPatterns_VietNam/src/Single_Responsibility_Principle/bin/Debug/netcoreapp3.1
/DesignPatterns_VietNam/src/Single_Responsibility_Principle/obj
/DesignPatterns_VietNam/src/Open_Closed_Principle/obj
/DesignPatterns_VietNam/src/Liskov_Substitution/obj
